<!DOCTYPE html>
<html>
  <%include header.ejs%>
  <main class="container" style="margin-top: 20px;">
    <div class="row ">
        <div class="col s12 m6 l6">
        <div class="card ">
         <ul class="collection">
           <a class="collection-item row black-text  waves-effect waves-block waves-light ">
              <div class="col s4 ">
                <img src="http://www.materialscss.com/public/img/sample-1.jpg" alt="" class="activator" style="width: 80px;height: 80px">
              </div>
              <div class="col s6 left-align ">
                 <span class="title">主讲：陈鑫</span>
                 <div>名额：18</div>
                 <div>已报名：3</div>
                 <div>报名费：30</div>
              </div>
              <div class="col s2 " style="height: 85px;line-height: 85px;">
                <i class="material-icons">visibility</i>
              </div>
           </a>
           <li class="collection-item row grey-text darken-3">
             <div class ="col s2"><i class="material-icons">perm_contact_calendar</i></div>
             <div class="col s10 left-align">2016年6月19</div>
           </li>
           <li class="collection-item row grey-text darken-3">
             <div class ="col s2"><i class="material-icons">location_on</i></div>
             <div class="col s10 left-align">天津科技大学</div>
           </li>
           <li class="collection-item row grey-text darken-3">
             <div class ="col s2"><i class="material-icons">recent_actors</i></div>
             <div class="col s10 left-align">尚未开始</div>
           </li>
         </ul>
        </div>
      </div>
        <div class="col s12 m6 l6">
            <div class="card ">
                <ul class="collection">
                    <a class="collection-item row black-text  waves-effect waves-block waves-light ">
                        <div class="col s4 ">
                            <img src="http://www.materialscss.com/public/img/sample-1.jpg" alt="" class="activator" style="width: 80px;height: 80px">
                        </div>
                        <div class="col s6 left-align ">
                            <span class="title">主讲：陈鑫</span>
                            <div>名额：18</div>
                            <div>已报名：3</div>
                            <div>报名费：30</div>
                        </div>
                        <div class="col s2 " style="height: 85px;line-height: 85px;">
                            <i class="material-icons">visibility</i>
                        </div>
                    </a>
                    <li class="collection-item row grey-text darken-3">
                        <div class ="col s2"><i class="material-icons">perm_contact_calendar</i></div>
                        <div class="col s10 left-align">2016年6月19</div>
                    </li>
                    <li class="collection-item row grey-text darken-3">
                        <div class ="col s2"><i class="material-icons">location_on</i></div>
                        <div class="col s10 left-align">天津科技大学</div>
                    </li>
                    <li class="collection-item row grey-text darken-3">
                        <div class ="col s2"><i class="material-icons">recent_actors</i></div>
                        <div class="col s10 left-align">尚未开始</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card ">
                <ul class="collection">
                    <a class="collection-item row black-text  waves-effect waves-block waves-light ">
                        <div class="col s4 ">
                            <img src="http://www.materialscss.com/public/img/sample-1.jpg" alt="" class="activator" style="width: 80px;height: 80px">
                        </div>
                        <div class="col s6 left-align ">
                            <span class="title">主讲：陈鑫</span>
                            <div>名额：18</div>
                            <div>已报名：3</div>
                            <div>报名费：30</div>
                        </div>
                        <div class="col s2 " style="height: 85px;line-height: 85px;">
                            <i class="material-icons">visibility</i>
                        </div>
                    </a>
                    <li class="collection-item row grey-text darken-3">
                        <div class ="col s2"><i class="material-icons">perm_contact_calendar</i></div>
                        <div class="col s10 left-align">2016年6月19</div>
                    </li>
                    <li class="collection-item row grey-text darken-3">
                        <div class ="col s2"><i class="material-icons">location_on</i></div>
                        <div class="col s10 left-align">天津科技大学</div>
                    </li>
                    <li class="collection-item row grey-text darken-3">
                        <div class ="col s2"><i class="material-icons">recent_actors</i></div>
                        <div class="col s10 left-align">尚未开始</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

  </main>

  <%include footer.ejs%>

  <script>

    $(document).ready(function(){
      
      $('.button-collapse').sideNav();

      $('.sign-modal').leanModal({
                dismissible: true, // 点击模态框外部则关闭模态框
                opcity:.88,
                in_duration: 300, // 切入时间
                out_duration: 200, // 切出时间
                ready: function() {  }, // 当模态框打开时执行的函数
                complete: function() {  } // 当模态框关闭时执行的函数
              }
      );

      var socket = io.connect('http://localhost:3000');
            socket.on('news', function (data) {
            console.log(data);
            socket.emit('my other event', { my: 'data' });
          });
    });


  </script>
  </body>
</html>
