<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/main.css' />
    <!--Import materialize.css-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
<div class="navbar-fixed">
    <nav >
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo">Logo</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="buttons">首页</a></li>
                <li><a href="footer">活动</a></li>
                <li><a href="mobile">关于</a></li>
                <li>
                    <a class="waves-effect waves-light btn sign-modal" href="#modal1">Modal</a>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li class="phoneNav-bg">
                    <a href="badges" style="position: absolute;top: 50%;transform: translate(0,-50%);">
                        <img src="http://www.materialscss.com/public/img/yuna.jpg" alt="" class="circle" style="width: 60px;height: 60px">
                    </a>
                </li>
                <li><a href="/">首页</a></li>
                <li><a href="/activity/list">活动</a></li>
                <li><a href="footer">注册</a></li>
                <li><a href="mobile">登录</a></li>
            </ul>
        </div>
    </nav>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal" style="opacity:.93 !important;">
    <div class="modal-content center-align" >
        <h4>注册</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat">注册</a>
    </div>
</div>