<!DOCTYPE html>
<html>
  <%include header.ejs%>
  <body>
  <div class="navbar-fixed">
    <nav >
      <div class="nav-wrapper container">
        <a href="#" class="brand-logo">Logo</a>
         <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a class="waves-effect waves-light btn sign-modal" href="#modal1">Modal</a>
          </li>
          <li><a href="buttons">按钮</a></li>
          <li><a href="footer">页脚</a></li>
          <li><a href="mobile">手机</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="badges">标签</a></li>
          <li><a href="buttons">按钮</a></li>
          <li><a href="footer">页脚</a></li>
          <li><a href="mobile">手机</a></li>
        </ul>
      </div>
    </nav>
    
  </div>
  <!-- Modal Structure -->
  <div id="modal1" class="modal" style="opacity:.93 !important;">
      <div class="modal-content center-align" >
        <h4>注册</h4>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s6">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat">注册</a>
      </div>
  </div>

  <main class="container" style="margin-top: 20px;">
    <div class="row ">
      <div class="col s12 m6 l6">
        <div class="card ">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://www.materialscss.com/public/img/sample-1.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">读书<i class="mdi-navigation-more-vert right"></i></span>
          </div>
          <div class="card-action">
            <a href="#">Talk</a>
            <a href="/activity/list">Action</a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">读书<i class="mdi-navigation-close right"></i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="card ">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://www.materialscss.com/public/img/sample-1.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">读书<i class="mdi-navigation-more-vert right"></i></span>
          </div>
          <div class="card-action">
            <a href="#">Talk</a>
            <a href="/activity/list">Action</a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">读书<i class="mdi-navigation-close right"></i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col s12 m6 l6">
        <div class="card ">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://www.materialscss.com/public/img/sample-1.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">读书<i class="mdi-navigation-more-vert right"></i></span>
          </div>
          <div class="card-action">
            <a href="#">Talk</a>
            <a href="#">Action</a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">读书<i class="mdi-navigation-close right"></i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://www.materialscss.com/public/img/sample-1.jpg">
          </div>
          <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">读书<i class="mdi-navigation-more-vert right"></i></span>
          </div>
          <div class="card-action">
            <a href="#">Talk</a>
            <a href="#">Action</a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">读书<i class="mdi-navigation-close right"></i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col s12 m6 l6">
        <div class="card ">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://www.materialscss.com/public/img/sample-1.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">读书<i class="mdi-navigation-more-vert right"></i></span>
          </div>
          <div class="card-action">
            <a href="#">Talk</a>
            <a href="#">Action</a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">读书<i class="mdi-navigation-close right"></i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://www.materialscss.com/public/img/sample-1.jpg">
          </div>
          <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">读书<i class="mdi-navigation-more-vert right"></i></span>
          </div>
          <div class="card-action">
            <a href="#">Talk</a>
            <a href="#">Action</a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">读书<i class="mdi-navigation-close right"></i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%include footer.ejs%>

  <script>

    $(document).ready(function(){
      
      $('.button-collapse').sideNav();

      $('.sign-modal').leanModal({
                dismissible: true, // 点击模态框外部则关闭模态框
                opcity:.88,
                in_duration: 300, // 切入时间
                out_duration: 200, // 切出时间
                ready: function() {  }, // 当模态框打开时执行的函数
                complete: function() {  } // 当模态框关闭时执行的函数
              }
      );

      var socket = io.connect('http://localhost:3000');
            socket.on('news', function (data) {
            console.log(data);
            socket.emit('my other event', { my: 'data' });
          });
    });


  </script>
  </body>
</html>
